<div class="component">
  <mat-slide-toggle
    class="streaming-toggle"
    color="primary"
    [disabled]="isImageLoaded$ | async"
    [checked]="isLiveStreaming"
    (toggleChange)="updateIsLive()"
  >
    Live streaming
  </mat-slide-toggle>

  <mat-card>
    <mat-card-content>
      <form class="form" (ngSubmit)="startStream()">
        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label>Enter picture test number:</mat-label>
          <input
            matInput
            type="number"
            id="testNumber"
            [(ngModel)]="testNumber"
            name="testNumber"
            required
          />
        </mat-form-field>

        <button
          mat-raised-button
          [disabled]="isImageLoaded$ | async"
          type="submit"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="!isLiveStreaming && (isImageLoaded$ | async)">
    <div class="spinner">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="error$ | async as error">
    <mat-error> Error: {{ error }} </mat-error>
  </ng-container>

  <mat-card
    *ngIf="
      imageStreamSubscription &&
      completeImageBlobUrl &&
      (isLiveStreaming || !(isImageLoaded$ | async))
    "
    class="img-container"
  >
    <img
      class="image"
      mat-card-image
      [src]="completeImageBlobUrl"
      alt="Image"
    />
    <p>Picture resolution: {{ imageWidth }} x {{ imageHeight }}</p>
  </mat-card>
</div>
